<div class="container">
  <h1>Triki</h1>

  <div class="container-game">
    <div>
      <p style="font-size: 20px;"><strong>Turno de: </strong>{{nextIsX ? 'X' : 'O'}}</p>
      <button (click)="restartGame()">Reiniciar</button>
    </div>
    <div class="container-sections">
      <section
        class="square"
        *ngFor="let square of squares; let i = index"
        [ngStyle]="{ background: square.background }"
        (click)="markSquare(i)"
      >
        {{ square?.figure }}
      </section>
    </div>
  </div>
</div>
